@font-face {
  font-family: 'BrandonGrotesque-Bold';
  src: url('./../fonts/BrandonGrotesque-Bold.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-Light';
  src: url('./../fonts/BrandonGrotesque-Light.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-Medium';
  src: url('./../fonts/BrandonGrotesque-Medium.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-Regular';
  src: url('./../fonts/BrandonGrotesque-Regular.otf');
}

@font-face {
  font-family: 'BrandonGrotesque-Thin';
  src: url('./../fonts/BrandonGrotesque-Thin.otf');
}