@supports (display: grid) {
  header {
    .header-container,
    .animation {
      transform: rotate(-45deg);
      @include position($top: auto, $right: auto, $bottom: auto, $left: auto);
      @include media(grid) {transform: none;}
    }

    .header-container {
      display: grid;
      grid-template-columns: auto 1.5fr 0.5fr 1fr 0.5fr;
      grid-template-rows: auto 0.5fr 1fr auto auto;
      @include media(portrait) {grid-template-rows: auto 1fr 1fr auto auto;}
      grid-gap: 1rem;
      
      padding: 40px;
      @include media(tablet) {padding: 20px;}
    }
    
    h1 {
      grid-column: 1 / 4;
      text-align: right;
      @include media(desktop) {margin-top: 0;}
      @include media(portrait) {margin-top: 0;}
      @include media(mobile) {
        grid-column: 1 / 4;
        grid-row: 1;
        justify-self: start;
      }
    }
    
    h2 {
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-right: -10px;
      text-align: left;
      writing-mode: vertical-lr;
   
      @include media(portrait) {
        grid-column: 4;
        grid-row: 1 / 4;
        justify-self: start;
        font-size: 2rem;
      }
   
      @include media(mobile) {
        grid-column: 3;
        grid-row: 1 / 6;
        justify-self: end;
        font-size: 1.8rem;
      }
    }

    p {
      margin: 0;
      width: auto;
      grid-column: 2 / 2;
      grid-row: 3 / 5;
      margin-left: -1rem;
      text-align: left;
 
      @include media(portrait) {
        grid-row: 3 / 5;
        align-self: center;
      }
      @include media(mobile) {align-self: start;}


      &:last-of-type {
        width: auto;
        grid-column: 2 / 5;
        grid-row: 4;
        text-align: left;
        
        @include media(portrait) {
          grid-column: 4 / 6;
          grid-row: 1;
          align-self: start;
          margin-left: 50px;
          text-align: right; 
          font-weight: initial;
        }

        @include media(mobile) {
          grid-column: 3 / 6;
          grid-row: 2 / 6;
        }

        & a {@include media(portrait) {font-weight: initial}}
      }
    }

    .email-container {
      grid-column: 4 / 6;
      grid-row: 2;
      justify-self: end;
      align-self: end;
      margin-left: -1rem;
  
      @include media(portrait) {
        grid-column: 3 / 5;
        grid-row: 3;
        justify-self: start;
      }
  
      @include media(mobile) {
        grid-column: 2 / 3;
        grid-row: 4;
        justify-self: start;
        font-size: 1.2rem;
      }
      
      a {
        position: relative;
        margin: 0;

        &::before,
        &::after {
          content: '';
          @include position($top: -6px);
    
          height: 4px;
          @include media(portrait) {height: 3px;}
          @include media(mobile) {height: 2px;}
    
          width: auto;
          background: $black
        }

        &::after {
          @include position($top: auto, $bottom: -6px);
        }
      }
    }

    .icon-container {
      grid-column: 5;
      grid-row: 3 / 5;
      align-self: end;
   
      @include media(mobile) {
        grid-column: 4 / 6;
        grid-row: 4 / 5;
      }
    }
  }
}
