header {
  height: 100vh;
  @include centerFlex();
  @include fontSize(16);

  .header-container {
    padding: 40px;
    @include media(portrait) {padding: 20px}
  }

  .header-container,
  .animation {
    @include media(desktop) {height: 600px; width: 600px;}
    @include media(tablet) {height: 450px; width: 450px;}
    @include media(portrait) {height: 400px; width: 400px;}
    @include media(mobile) {height: 300px; width: 300px;}
  }

  h1,
  h2,
  .email-container {
    text-align: center;
  }

  h1 {
    @include media(desktop) {margin-top: 50px;}
    @include media(portrait) {margin-top: 0px;}
    @include media(mobile) {margin-top: 0px;}

    @include fontSize(54);
    @include media(tablet) {@include fontSize(42)}
    @include media(grid) {@include fontSize(38)}
    @include media(mobile) {@include fontSize(26)}

    font-family: $mediumFont;
    text-transform: uppercase;
    letter-spacing: -4px;

    .first-name {
      color: rgba($primaryColour, 0.7);
      margin-right: 10px;
    }
  }

  h2 {
    @include fontSize(28);
    @include media(tablet) {@include fontSize(26)}
    @include media(mobile) {@include fontSize(20)}

    letter-spacing: .2rem;
    @include media(tablet) {letter-spacing: 0.1rem;}

    font-family: $lightFont;
    color: $primaryColour;
  }

  a {
    display: inline-block;
    margin: 15px 10px 0;
    font-weight: 300;
    transition: color 0.3s ease;

    &:hover {
      color: $primaryColour;
    }
  }

  .icon-container {
    text-align: center;
    
    a {
      width: auto;
      @include fontSize(24);
    }
  }

  p {
    text-align: justify;
    width: 60%;
    margin: 50px auto 20px;
    @include media(mobile) {margin: 20px auto 20px;}
  
    @include fontSize(16);
    @include media(tablet) {@include fontSize(14)}
    @include media(mobile) {@include fontSize(11)}
  
    font-weight: 300;

    &:last-of-type {
      margin-top: 10px;
      margin-bottom: -1rem;
      font-family: $mediumFont;
      font-weight: 600;
      text-align: center;

      & a {
        display: inline;
        margin: 0;
        cursor: pointer;
      }
    }
  }

  a:last-of-type {
    font-weight: 600;
    cursor: pointer;
  }

  .animation {
    background: rgba(255, 255, 255, 0.1);
    @include position();
    @include center(both);
    color: rgba($primaryColour, 0.5);
    z-index: -1;
  
    &::before,
    &::after {
      @include position();
      content: '';
      margin: -1 * $clip-distance * 100%;
      box-shadow: inset 0 0 0 $path-width; 
      animation: border-snake $animate-time linear infinite;
      @include media(tablet) {animation: border-snake-tablet $animate-time linear infinite;}
      @include media(portrait) {animation: border-snake-portrait $animate-time linear infinite;}
      @include media(mobile) {animation: border-snake-mobile $animate-time linear infinite;}
    }
  
    &::before {
      animation-delay: $animate-time * -.5;
    }
  }
}