header {
  height: 100vh;
  @include centerFlex();
  @include fontSize(16);

  .header-container {
    padding: 40px;
  }

  .header-container,
  .animation {
    @include media(desktop) {height: 600px; width: 600px;}
    @include media(tablet) {height: 450px; width: 450px;}
    @include media(portrait) {height: 400px; width: 400px;}
    @include media(mobile) {height: 300px; width: 300px;}
  }

  h1,
  h2,
  .email-container {
    text-align: center;
  }

  h1 {
    @include media(portrait) {margin-top: 20px;}
    @include media(mobile) {margin-top: 0px;}

    @include fontSize(54);
    @include media(tablet) {@include fontSize(42)}
    @include media(grid) {@include fontSize(38)}
    @include media(mobile) {@include fontSize(26)}

    font-family: $mediumFont;
    text-transform: uppercase;
    letter-spacing: -4px;

    .first-name {
      color: rgba($primaryColour, 0.7);
      margin-right: 10px;
    }
  }

  h2 {
    @include fontSize(28);
    @include media(tablet) {@include fontSize(26)}
    @include media(mobile) {@include fontSize(20)}

    letter-spacing: .2rem;
    @include media(tablet) {letter-spacing: 0.1rem;}

    font-family: $lightFont;
    color: $primaryColour;
  }

  a {
    display: inline-block;
    margin: 15px 10px 0;
    font-weight: 300;
    transition: color 0.3s ease;

    &:hover {
      color: $primaryColour;
    }
  }

  .icon-container {
    text-align: center;
    
    a {
      width: auto;
      @include fontSize(24);
    }
  }

  p {
    text-align: justify;
    width: 60%;
    margin: 50px auto 20px;
    @include media(mobile) {margin: 20px auto 20px;}
  
    @include fontSize(16);
    @include media(tablet) {@include fontSize(14)}
    @include media(mobile) {@include fontSize(10)}
  
    font-weight: 300;

    &:last-of-type {
      margin-top: 10px;
      margin-bottom: -1rem;
      font-family: $mediumFont;
      font-weight: 600;
      text-align: center;

      & a {
        display: inline;
        margin: 0;
        cursor: pointer;
      }
    }
  }

  a:last-of-type {
    font-weight: 600;
    cursor: pointer;
  }

  .animation {
    background: rgba(255, 255, 255, 0.1);
    @include position();
    @include center(both);
    color: rgba($primaryColour, 0.5);
    // box-shadow: inset 0 0 0 0.5px rgba($primaryColour, .5);
    z-index: -1;
  
    &::before,
    &::after {
      @include position();
      content: '';
      margin: -1 * $clip-distance * 100%;
      box-shadow: inset 0 0 0 $path-width; 
      animation: border-snake $animate-time linear infinite;
      @include media(tablet) {animation: border-snake-tablet $animate-time linear infinite;}
      @include media(portrait) {animation: border-snake-portrait $animate-time linear infinite;}
      @include media(mobile) {animation: border-snake-mobile $animate-time linear infinite;}
    }
  
    &::before {
      animation-delay: $animate-time * -.5;
    }
  }
}

@supports (display: grid) {
  header {
    .header-container,
    .animation {
      transform: rotate(-45deg);
      @include position($top: auto, $right: auto, $bottom: auto, $left: auto);
      @include media(grid) {transform: none;}
    }

    .header-container {
      display: grid;
      grid-template-columns: auto 1.5fr 0.5fr 1fr 0.5fr;
      grid-template-rows: auto 0.5fr 1fr auto auto;
      @include media(portrait) {grid-template-rows: auto 1fr 1fr auto auto;}
      grid-gap: 1rem;
      
      padding: 40px;
      @include media(tablet) {padding: 20px;}
    }
    
    h1 {
      grid-column: 1 / 4;
      text-align: right;
      @include media(portrait) {margin-top: 0;}
      @include media(mobile) {
        grid-column: 1 / 4;
        grid-row: 1;
        justify-self: start;
      }
    }
    
    h2 {
      grid-column: 3 / 4;
      grid-row: 2 / 5;
      justify-self: end;
      margin-right: -10px;
      text-align: left;
      writing-mode: vertical-lr;
   
      @include media(portrait) {
        grid-column: 4;
        grid-row: 1 / 4;
        justify-self: start;
        font-size: 2rem;
      }
   
      @include media(mobile) {
        grid-column: 3;
        grid-row: 1 / 6;
        justify-self: end;
        font-size: 1.8rem;
      }
    }

    p {
      margin: 0;
      width: auto;
      grid-column: 2 / 2;
      grid-row: 3 / 5;
      text-align: left;
 
      @include media(portrait) {
        grid-row: 2 / 4;
        align-self: center;
      }

      @include media(mobile) {align-self: start;}

      &:last-of-type {
        width: auto;
        grid-column: 2 / 5;
        grid-row: 4;
        text-align: left;
        
        @include media(portrait) {
          grid-column: 4 / 6;
          grid-row: 1;
          align-self: start;
          margin-left: 50px;
          text-align: right; 
        }

        @include media(mobile) {grid-column: 3 / 6;}
      }
    }

    .email-container {
      grid-column: 4 / 6;
      grid-row: 2;
      justify-self: end;
      align-self: end;
  
      @include media(portrait) {
        grid-column: 3 / 5;
        grid-row: 3;
        justify-self: start;
      }
  
      @include media(mobile) {
        grid-column: 2 / 3;
        grid-row: 4;
        justify-self: start;
        font-size: 1.2rem;
      }
      
      a {
        position: relative;
        margin: 0;

        &::before,
        &::after {
          content: '';
          @include position($top: -6px);
    
          height: 4px;
          @include media(portrait) {height: 3px;}
          @include media(mobile) {height: 2px;}
    
          width: auto;
          background: $black
        }

        &::after {
          @include position($top: auto, $bottom: -6px);
        }
      }
    }

    .icon-container {
      grid-column: 5;
      grid-row: 3 / 5;
      align-self: end;
   
      @include media(mobile) {
        grid-column: 4 / 6;
        grid-row: 4 / 5;
        align-self: end;
      }
    }
  }
}
