$black: #333;
$white: #ded;
$grey: #545f66;
$primaryColour: #ee6531;

$gradient1: #ebf5df;
$gradient2: #eafdf8;
$gradient3: #e5e9ec;
$gradient4: #fffce8;

$primaryFont: "Ubuntu", sans-serif;

// animation variables
$animate-time: 25s;
$path-width: 3px;
$clip-distance: 0.05;